*.npy filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
Coursera/projects/Week[[:space:]]3/Trigger[[:space:]]word[[:space:]]detection/*.npy
bye
 filter=lfs diff=lfs merge=lfs -text
Coursera/projects/Week/[[:space:]]3/Trigger/[[:space:]]word/[[:space:]]detection/*.npy filter=lfs diff=lfs merge=lfs -text
